<!DOCTYPE html>
<html>
<head>
  <title>Coș de cumpărături</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <%- include("../partials/nav-bar") %>
 <!--*
         * 'Dashboard' All System's for Discord Bot
         *
         * Author: Hubyp#2814 & 948916911293497344
         * Copyright © 2023 Palma Team
         *
         * For more information or to report issues, please refer to the README.md and LICENSE files.
         * You can also contact us at Hubyp#2814 & 948916911293497344.
         *
         *-->
  <div class="container">
    <h1>Coș de cumpărături</h1>
    <div class="cart-items">
      <% cartItems.forEach(function(item) { %>
        <div class="cart-item">
          <h2><%= item.name %></h2>
          <p>Cantitate: <%= item.quantity %></p>
          <p>Preț: <%= item.price %> RON</p>
          <button class="remove-button" data-itemid="<%= item._id %>">Șterge</button>
        </div>
      <% }); %>
    </div>
  </div>
  <script src="/script.js"></script>
</body>
</html>
 <!--*
         * 'Dashboard' All System's for Discord Bot
         *
         * Author: Hubyp#2814 & 948916911293497344
         * Copyright © 2023 Palma Team
         *
         * For more information or to report issues, please refer to the README.md and LICENSE files.
         * You can also contact us at Hubyp#2814 & 948916911293497344.
         *
         *-->
